/* merriweather-regular - latin */
@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/merriweather/merriweather-v30-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/merriweather/merriweather-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
}


  /* merriweather-900 - latin */
  @font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/merriweather/merriweather-v30-latin-900.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/merriweather/merriweather-v30-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
}
